@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: theme("colors.skyblue");
}

header[role="banner"] {
  nav {
    a {
      &.active {
        border-top: 3px solid theme("colors.blue.default");
      }
      &:hover {
        border-top: 3px solid theme("colors.green");
      }
    }
  }
  .avatar {
    position: absolute;
    top: 15px;
    right: -35px;
    .avatar-link {
      border: 4px solid theme("colors.skyblue");
      border-radius: 100px;
      display: block;
      line-height: 0;
      &:hover {
        border-color: theme("colors.black");
      }
    }
    img {
      width: 75px;
      height: 75px;
      background: theme("colors.blue.default");
      border-radius: 100px;
    }
    &:hover .tooltip {
      display: block;
      position: absolute;
      top: 82px;
      left: -35px;
      opacity: 1;
    }
  }
}

@keyframes showTooltip {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tooltip {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(black, 0.1);
  position: relative;
  width: 150px;
  top: 0;
  z-index: 100;
  display: none;
  opacity: 0;
  text-align: center;
  animation: showTooltip 150ms ease-in-out both;

  :after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
  }
}

h2 {
  @apply text-3xl font-black;
}

.button {
  border-color: theme("colors.blue.darker");
  box-shadow: 0 3px 0 theme("colors.blue.darker");
  &:hover {
    // border-color: darken(desaturate(theme("colors.blue"), 15%), 10%);
    // box-shadow: 0 3px 0 theme("colors.blue.darkest");
  }
}
